@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
    margin: 0;
}

.container {
    display:flex; 
    flex-direction: column;
}

:root {
    --color-red: #F31C1C;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url("../images/cubik-fondo.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.home__logo-img {
    margin: 0;
    width: 3rem;
}

.home__logo-title {
    margin: 0;
    width: 7rem;
    word-break: break-all;
    color: #2BA8EE;
}

.home__text-title {
    color: #1090da;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.home__text-description {
    width: 80%;
    margin: auto;
    text-align: center;
}

.description__red {
    color: red;
    font-weight: bold;
}

.description__green {
    color: #2BEE32;
    font-weight: bold;
}

.home__groupMarcas {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.home__groupMarcas-img {
    width: 11rem;
}

.tiposCubos{
    width: 100%;
}

.title {
    position: relative;
    padding-left: 19.5rem;
    display: flex;
    align-items: center;
    font-size: 3rem;
    transform: translateX(-100%);
    transition: transform 2s;
    margin-top: 4rem;
}

.title-active {
    transform: none;
}

.title-icon {
    padding-top: .6rem;
    padding-left: .5rem;
    width: 35px;
    filter: invert(14%) sepia(92%) saturate(4426%) hue-rotate(355deg) brightness(118%) contrast(90%);
}

.title::before {
    content: "";
    display: block;
    position: absolute;
    width: .3rem;
    left: 0;
    height: 3.5rem;
    background-color: white;
    border-left: 18rem solid var(--color-red);
    border-right: .7rem solid var(--color-red); 
}

.tiposCubos__contCards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    width: 85%;
    margin: 7rem auto;
}

.tiposCubos__contCards-card {
    width: 18rem;
    height: 18rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiposCubos__contCards-card-1 {
    background-color: #2BA8EE;
}
.tiposCubos__contCards-card-2 {
    background-color: orange;
}
.tiposCubos__contCards-card-3 {
    background-color: #EE2BCF;
}
.tiposCubos__contCards-card-4 {
    background-color: #2BEECB;
}
.tiposCubos__contCards-card-5 {
    background-color: #2BEE32;
}
.tiposCubos__contCards-card-6 {
    background-color: #3A2BEE;
}

.tiposCubos__card__content {
    position: relative;
    top: -4rem;
}

.tiposCubos__card-img {
    width: 15rem;
    height: 15rem;
    transform: translateY(-12rem);
    opacity: 0;
    transition: all 1s;
}

.tiposCubos__card-img-active {
    opacity: 1;
    transform: none;
}

.tiposCubos__card-img-2 {
    transition-delay: .2s;
}
.tiposCubos__card-img-3 {
    transition-delay: .4s;
}
.tiposCubos__card-img-5 {
    transition-delay: .2s;
}
.tiposCubos__card-img-6 {
    transition-delay: .4s;
}

.tiposCubos__card-title {
    color: white;
}

.tiposCubos__card-subtitle {
    color: #F6DCDC;
}

.vector {
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    background-image: url("../images/Vector.png");
    background-size: 100%;
    position: relative;
}

.vector__text {
    width: 15rem;
    font-size: 3.5rem;
    color: white;
    margin: 4rem 0 0 6rem;
}

@keyframes bounce {
    0% {
        transform: translateY(1.5rem);
    }
    25% {
        transform: translateY(-1.5rem);
    }
    50% {
        transform: translateY(1rem);
    }
    75% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}

.vector__text-green {
    color: #2BEE32;
}

.vector__img-gan {
    position: absolute;
    top: 10rem;
    width: 22rem;
    right: 10rem;
    opacity: .3;
    transition: all 1.5s;
    transform: translateY(14rem);
}

.vector__img-gan-active {
    opacity: 1;
    transform: none;
}

.masVendidos__swiper {/*Contenedor total del slider*/
    width: 85%;
    margin: 5rem 0;
}

.masVendidos__slide {/*Slide-content*/
    margin: 0 5rem;
    overflow: hidden;
}

.masVendidos__slide .slide__img {
    transition: transform .5s;
    transform: scale(.7);
}

.slide__img.swiper-slide.swiper-slide-next {/*Siguiente img a mostrar en el slider(imagen del centro)*/
    transform: scale(1);
}

.stationCube {
    position: relative;
}

.contentPhone {
    position: absolute;
    right: 10rem;
    top: 24rem;
    width: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentPhone__text {
    width: 80%;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 1.3rem;
}


@keyframes float {
    from {
        transform: translateY(0rem);      
    }
    
    to {
        transform: translateY(2rem);
    }
}

.stationCube__bubbles {
    position: absolute;
    border-radius: 50%;
    animation: float 1.5s infinite alternate;        
    color: white;
}

.stationCube__bubbles:hover::before {
    left: -100%;
}

.stationCube__bubbles:hover > .bubble__text {
    left: -50%;
}

.bubble__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    transition: left .6s;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'DM Serif Display', serif;
}

.stationCube__bubble1 {
    width: 12rem;
    height: 12rem;
    right: 3rem;
}

.stationCube__bubble1-img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.stationCube__bubble1::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    background-color: rgba(240, 91, 22, 0.842);
    border-radius: 50%;
    transition: left .6s;
}

.stationCube__bubble2 {
    width: 18rem;
    height: 18rem;
    left: 6rem;
    top: 18rem;
    animation-delay: .5s;
}

.stationCube__bubble2-img {
    width: inherit;
    height: inherit;
    /*inexplicablemente esta img es redondea por si solo, no lo entiendo*/
}

.stationCube__bubble2::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    background-color: rgba(0, 0, 255, .6);
    border-radius: 50%;
    transition: left .6s;
}

.stationCube__bubble3 {
    width: 12rem;
    height: 12rem;
    top: 44rem;
    left: 12rem;
    animation-delay: .8s;
}

.stationCube__bubble3-img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.stationCube__bubble3::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    background-color: rgba(211, 11, 27, 0.8);
    border-radius: 50%;
    transition: left .6s;
}

.stationCube__bubble4 {
    width: 16rem;
    height: 16rem;
    top: 48rem;
    left: 36rem;
    animation-delay: 1.2s;
}

.stationCube__bubble4-img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.stationCube__bubble4::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    background-color: rgba(188, 11, 211, 0.8);
    border-radius: 50%;
    transition: left .6s;
}

.stationCube__bubble5 {
    width: 14rem;
    height: 14rem;
    top: 45rem;
    right: 8rem;
    animation-delay: .2s;
}

.stationCube__bubble5-img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.stationCube__bubble5::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    background-color: rgba(22, 216, 241, 0.8);
    border-radius: 50%;
    transition: left .6s;
}

.datosInteresantes {
    position: relative;
    background-image: url("../images/VectorMorado.png");
    background-size: 100% 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 47.38rem;
    top: 62rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datosInteresantes__title {
    margin: 0 auto;
    width: 90%;
    font-size: 3rem;
}

.datosInteresantes__text {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.datosInteresantes__contCards {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contCards__card {
    width: 20rem;
    height: 24rem;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 8rem;
    margin-bottom: 0;
}

.card__img {
    margin: 1.5rem;
    width: 10rem;
}

.card__text {
    color: black;
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.preguntasFrecuentes {
    position: relative;
    top: 60rem;
    text-align: center;
    overflow: hidden;
}

.preguntasFrecuentes__title {
    color: #A41CF8;
    font-size: 3rem;
    margin-top: 7rem;
}

.group__question {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: .2rem;
    border-radius: 5px; 
    margin-bottom: 4rem;
    box-shadow: 13px 13px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 2s;
}

.group__question-1 {
    transform: translateX(100%);
}
.group__question-2 {
    transform: translateX(-100%);
}
.group__question-3 {
    transform: translateX(100%);
}
.group__question-4 {
    transform: translateX(-100%);
}

.group__question-active {
    transform: none;
}

.question__img {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 1.5rem;
    cursor: pointer;
}

.question__question {
    color: rgb(219, 216, 216);
    margin-bottom: 0;
}

.question__question-active {
    color: #FF6B35;
}

.question__response {
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all .8s;
    width: 90%;
    font-family: 'DM Serif Display', serif;
}

.question__response-active {
    max-height: 3rem;
    padding-top: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/vectorFooter.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 31rem;
    position: relative;
    top: 62rem;
    text-align: center;
    color: white;
    font-family: 'DM Serif Display', serif;
}

.footer__groupImg {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 0rem;
}

.groupImg__img {
    width: 12rem;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(267deg) brightness(102%) contrast(101%);
}

.groupImg-sub {
    opacity: 0;
    transition: opacity 2s;
}

.groupImg-sub-active {
    opacity: 1;
}

.groupImg__name {
    font-size: 2rem;
}

.img__up {
    position: fixed;
    right: 1rem;
    bottom: 1.2rem;
    width:3rem;
    color: #2BEE32;
    filter: invert(66%) sepia(81%) saturate(1052%) hue-rotate(68deg) brightness(103%) contrast(94%);
    transition: transform .3s, opacity .5s;
    opacity: 0;
    cursor: pointer;
}

.img__up:hover {
    transform: scale(1.2);
}

@media screen and (max-width:1280px) {
    .contCards__card {width: 18rem;height: 20rem;}
    .card__img {width: 8rem;}
    .card__text {font-size: .8rem;}
    .datosInteresantes__title {font-size: 2.8rem;}
}

@media screen and (max-width:1200px) {
    .stationCube__bubble2 {left: 2rem;}
    .stationCube__bubble3 {left: 4rem;}
    .stationCube__bubble4 {top: 44rem; left: 24rem;}
    .contentPhone__phone, .contentPhone {width: 30rem;}
    .contentPhone {right: 6rem;}
    .contentPhone__text {font-size: 1rem;}
    .bubble__text {z-index: 1;}
}

@media screen and (max-width:1160px) {
    .contCards__card {width: 16rem;height: 18rem;}
    .card__img {width: 5rem;}
    .datosInteresantes {height: 41rem;}
    .vector__text {font-size:3rem}
}

@media screen and (max-width:1040px) {
    .datosInteresantes {height: 75rem;}
    .contCards__card {width: 100%;height: 15rem;}
    .card__img {width: 7rem;}
}

@media screen and (max-width:1000px) {
    .stationCube__bubble1 {top: 13rem;}
    .stationCube__bubble2 {top: 13rem;}
    .contentPhone {top: 32rem;left: 50%;transform: translateX(-50%);}
    .home__groupMarcas-img {width: 7rem;}
    .home__text-title {font-size: 2.5rem;}
    .title {font-size: 2rem;}
    .title::before {height: 3rem;}
    .stationCube__bubble3 {top: 48rem;}
    .stationCube__bubble4 {left: 18rem; top:51rem}
    .stationCube__bubble5 {right: 2rem;}
    .contentPhone__phone {width: 27rem;}
    .stationCube__bubble1, .stationCube__bubble3 {width: 9rem;height: 9rem;}
    .stationCube__bubble2 {width: 15rem;height: 15rem;}
    .stationCube__bubble4 {width: 13rem;height: 13rem;}
    .stationCube__bubble5 {width: 11rem;height: 11rem;}
    .groupImg__img {width: 8rem}
    .footer {height: 24rem;}
    .footer__groupImg {margin-top: 6rem;}
    .tiposCubos__contCards-card {width: 12rem; height: 14rem; text-align: center}
    .tiposCubos__card-img {width:12rem; height: 12rem}
    .tiposCubos__card-title {font-size: 1.5rem; margin: 0}
    .tiposCubos__card-subtitle {font-size: 1.1rem}
    .vector__img-gan {width: 15rem;}
    .vector__text {margin-top: 2rem}
    .vector {height:24rem}
    .stationCube {margin-top: 0}
    .masVendidos__swiper {margin-top: 8rem}
    .preguntasFrecuentes__title {font-size: 2.5rem}
    .preguntasFrecuentes {font-size: .8rem;}
    .datosInteresantes__title {font-size: 2.5rem}
}

@media screen and (max-width:860px) {
    .vector__img-gan {width: 13rem; top:8rem}
    .vector__text {margin-top: 2rem; font-size: 2.5rem}
}

@media screen and (max-width:770px) {
    .stationCube__bubble2 {top: 10rem;}
    .stationCube__bubble3 {top: 33rem;left: .5rem;}
    .stationCube__bubble4 {top: 36rem;left: 10rem;}
    .stationCube__bubble5 {top: 33rem;right: 1rem;}
    .stationCube__bubble1, .stationCube__bubble3 {width: 6rem;height: 6rem;}
    .stationCube__bubble2 {width: 12rem;height: 12rem;}
    .stationCube__bubble4 {width: 10rem;height: 10rem;}
    .stationCube__bubble5 {width: 8rem;height: 8rem;}
    .contentPhone__phone, .contentPhone {width: 22rem; top: 24rem}
    .contentPhone__text {font-size: .8rem;}
    .bubble__text {font-size: .9rem;}
    .datosInteresantes__title {font-size: 2rem;}
    .datosInteresantes__text {font-size: .8rem}
    .datosInteresantes {top: 42rem;}
    .preguntasFrecuentes {top: 40rem;}
    .footer {top: 42rem;}
    .preguntasFrecuentes {font-size: .6rem;}
    .question__img {top:.5rem; width:1.2rem}
    .vector__text {font-size:2rem; width: 8rem}
    .vector__img-gan {width:12rem}
    .vector {height: 20rem}
}

@media screen and (max-width:660px) {
    .home__text-title {font-size: 2rem;}
    .home__text-description {font-size: .8rem;}
    .home__groupMarcas-img {width: 5rem;}
    .stationCube__bubble2 {width: 10rem;height: 10rem;}
    .contentPhone__text {font-size: .73rem;}
    .vector__img-gan {width: 8rem; right:5rem; top: 5rem}
    .vector__text {font-size: 1.5rem}
    .vector {height: 15rem}
    .title::before {border-left: 0;}
    .title {padding-left:1.2rem}
}

@media screen and (max-width:600px) {
    .contentPhone__phone, .contentPhone {width: 18rem;}
    .bubble__text {font-size: .5rem;}
}

@media screen and (max-width:440px) {
    .preguntasFrecuentes {font-size:.8rem}
    .question__question {width: 80%; padding-right: 1rem}
    .question__img {top: 1rem}
    .groupImg__img {width: 5rem}
    .footer {font-size:1rem; height: 20rem}
    .groupImg__name {font-size:1.5rem}
    .tiposCubos__contCards-card {width:8rem; height: 10rem}
    .tiposCubos__card-img {width:7rem; height:7rem}
    .tiposCubos__card__content {top:-3rem}
    .card__img {width: 5rem}
    .vector__text {font-size: 1.2rem; margin-left: 2rem; margin-top: 1rem}
    .vector {height: 10rem}
    .vector__img-gan {top: 3rem}
    .masVendidos__swiper {margin: 3rem 0 0 0}
    .preguntasFrecuentes__title {font-size: 2.2rem}
}